body {
  background-color: rgb(32, 31, 32);
  text-transform: uppercase;
  font-family: 'Montserrat', 'Avenir';
  margin: 0;
}
.square {
  width: 30%;
  float: left;
  padding-bottom: 30%;
  margin: 1.66%;
  background-color: red;
  border-radius: 25px;
  transition: background-color 0.6s;
}
.container {
  margin: 20px auto;
  max-width: 600px;
}
#header {
  background-color: rgb(73, 119, 170);
  color: white;
  font-weight: ;
}
#headerContent {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
#headerBottom {
  background-color: white;
  max-width: 100%;
  color: rgb(73, 119, 170);
  height: 30px;
}
#headerBottomContent {
  max-width: 600px;
  margin: 0 auto;
  height: 100%;
  text-align: center;
}
button {
  border: none;
  font-size: inherit;
  height: 100%;
  color: rgb(73, 119, 170);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  z-index: 1;
}
.selected {
  background-color: rgb(73, 119, 170);
  z-index: 0;
  color: white;
}
#newColors {
  float: left;
  padding: 0 3px;
}
.mode {
  float: right;
  padding: 0 3px;
}
#pickNotification {
  display: inline-block;
  width: 20%;
  padding-top: 4px;
  font-size: inherit;
  text-transform: none;
}
button:hover {
  background-color: rgb(73, 119, 170);
  color: white;
  height: 100%;
}
